.jumbotron{
    background-color: #588997;
    color: black;
    margin-top: 100px;
    margin-bottom: 0px; 
}

footer {
    padding: 10px; 10px; 0px; 10px;
    background-color:#588997;
}

.card-service {
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 0px; 
}

.breadcrumb {
    margin-top: 10px;
    margin-bottom: 0px;
}
.btn {

    margin-top: 10px;
    margin-bottom: 0px; 
}


.tab-content {
    margin-top: 10px;
    margin-bottom: 0px; 
}

.table-responsive {
    margin-top: 10px;
    margin-bottom: 0px; 
}
