$green:#00b8e66b;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron{
    background-color: $green;
    @include margenes(50px, 10px )
}

footer {
    background-color: $green;
}

.card-service {
    @include margenes(10px, 0px )
}

.breadcrumb {
    @include margenes(50px, 0px )
}
.btn {

    @include margenes(10px, 0px )
}


.tab-content {
    @include margenes(10px, 0px )
}

.table-responsive {
    @include margenes(10px, 0px )
}
