.jumbotron {
  background-color: #00b8e66b;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  background-color: #00b8e66b; }

.card-service {
  margin-top: 10px;
  margin-bottom: 0px; }

.breadcrumb {
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  margin-top: 10px;
  margin-bottom: 0px; }

.tab-content {
  margin-top: 10px;
  margin-bottom: 0px; }

.table-responsive {
  margin-top: 10px;
  margin-bottom: 0px; }
