$green:#00b8e66b;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron{
    background-color: $green;
    color: black;
    @include margenes(50px, 10px )
}

footer {
    padding: 10px; 10px; 0px; 10px;
    background-color: $yellow;
}

.card-service {
    flex: 1 200px;
    @include margenes(10px, 0px )
}

.breadcrumb {
    @include margenes(50px, 0px )
}
.btn {

    @include margenes(10px, 0px )
}


.tab-content {
    @include margenes(10px, 0px )
}

.table-responsive {
    @include margenes(10px, 0px )
}
