.jumbotron {
  background-color: #F8B12B;
  margin-top: 10px;
  margin-bottom: 0px;
}
footer {
  background-color: #F8B12B;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-service {
  margin-top: 10px;
  margin-bottom: 0px;
}
.breadcrumb {
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn {
  margin-top: 10px;
  margin-bottom: 0px;
}
.tab-content {
  margin-top: 10px;
  margin-bottom: 0px;
}
.table-responsive {
  margin-top: 10px;
  margin-bottom: 0px;
}
.MoreInfo {
  background-color: #F8B12B;
  margin-top: 10px;
  margin-bottom: 0px;
}
