.jumbotron {
  background-color: #eeea10;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  background-color: #eeea10; }

.card-service {
  margin-top: 10px;
  margin-bottom: 0px; }

.breadcrumb {
  margin-top: 10px;
  margin-bottom: 0px; }

.btn {
  margin-top: 10px;
  margin-bottom: 0px; }

.tab-content {
  margin-top: 10px;
  margin-bottom: 0px; }

.table-responsive {
  margin-top: 10px;
  margin-bottom: 0px; }

.MoreInfo {
  background-color: #eeea10; }
