@yellow:#F8B12B;

.margenes (@top:0px, @bottom:0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    .margenes(10px, 0px);
  }
  
  footer {
    background-color: @yellow;
    .margenes(10px, 0px);
   }
  
  .card-service {
    .margenes(10px, 0px);
   }
  
  .breadcrumb {
    .margenes(10px, 0px);
  }
  
  .btn {
    .margenes(10px, 0px); 
  }
  
  .tab-content {
    .margenes(10px, 0px); 
  }
  
  .table-responsive {
    .margenes(10px, 0px);
  }
    
    .MoreInfo {
        background-color: @yellow;
        .margenes(10px, 0px);
    }